/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
#root {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 10rem;
}

a > h1 {
    height: 100%;
    padding: 0 0 0 4rem;
    font-size: clamp(3rem, 4.5vw, 5rem);
}

a {
    display: grid;
    place-items: center;
    text-decoration: none;
    line-height: 1.7;
    font-size: clamp(3rem, 4.5vw, 5rem);
    color: black;
}

span.bold {
    text-decoration: solid;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.navigation-container > nav {
    display: flex;
    gap: 4rem;
}

.nav-item {
    position: relative;
    min-height: 9rem;
    width: clamp(4rem, 100%, 8rem);
    font-size: clamp(1.5rem, 4.5vw, 2rem);
}

.nav-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 70%;
    background-color: #3476EF;
    height: 4px;
    width: 0;
    transition: width 0.15s ease-in-out;
}

.nav-item.active:after {
    width: 100%;
    transition: width 0.25s ease-in-out;
}

.copyright, .terms {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.terms {
    display: flex;
    gap: 4rem;
}

.go-learn, .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10rem;
}

.go-learn-image {
    background-image: url('./images/home-bg.svg');
    background-repeat: no-repeat;
    background-size: contain, 10%;
}

.go-learn > .description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.go-learn > .description > button {
    max-width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

.go-learn > .description > h1, .about h1, .contact-container h1 {
    font-size: clamp(3rem, 3.5vw, 5rem);
}

.go-learn > .description > p, .about p {
    font-size: clamp(1.7rem, 2.5vw, 2.25rem);
    max-width: 50rem;
}

.go-boy {
    background-image: url('./images/home-learning-boy.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.landing-container, .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about {
    gap: 6rem;
}

.about-bg {
    background-image: url('./images/about-bg.svg');
    background-size: clamp(30rem, 100%, 70rem);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.domain-girl {
    background-image: url('./images/about-domain-girl.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.contact-bg {
    background-image: url('./images/contact-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: clamp(50rem, 100%, 95rem);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    width: 100%;
}

.contact-form > input, textarea {
    padding: 1rem;
    margin-bottom: 2.5rem;
    border: none;
    border-radius: 0.7rem;
}

.contact-form > textarea {
    resize: none;
}

.contact-form > input[type=button] {
    max-width: 17rem;
    width: 100%;
    border-radius: 2rem;
    align-self: center;
    background-color: black;
    color: white;
}

.contact-form > label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.glossary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.glossary-bg {
    background-image: url(./images/glossary/back-button-bg.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: clamp(40rem, 100%, 65rem);
}

@media (max-width: 700px) {

    .landing-container, .about-container {
        grid-template-columns: auto;
    }

    .domain-girl {
        display: none;
    }

    .about-bg {
        background-size: contain;
    }

    .about {
        padding: 0 10rem;
    }
}