/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 10rem;
}

a > h1 {
    height: 100%;
    padding: 0 0 0 4rem;
    font-size: clamp(3rem, 4.5vw, 5rem);
}

a {
    display: grid;
    place-items: center;
    text-decoration: none;
    line-height: 1.7;
    font-size: clamp(3rem, 4.5vw, 5rem);
    color: black;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.navigation-container > nav {
    display: flex;
    gap: 4rem;
}

.nav-item {
    position: relative;
    min-height: 9rem;
    width: clamp(4rem, 100%, 8rem);
    font-size: clamp(1.5rem, 4.5vw, 2rem);
}

.nav-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 70%;
    background-color: #3476EF;
    height: 4px;
    width: 0;
    transition: width 0.15s ease-in-out;
}

.nav-item.active:after {
    width: 100%;
    transition: width 0.25s ease-in-out;
}

.copyright, .terms {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.terms {
    display: flex;
    gap: 4rem;
}

.go-learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10rem;
}

.go-learn-image {
    background-image: url('./images/home-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.go-learn > .description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.go-learn > .description > button {
    max-width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
}

.go-learn > .description > h1 {
    font-size: clamp(3rem, 3.5vw, 5rem);
}

.go-learn > .description > p {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    max-width: 50rem;
}

.go-boy {
    background-image: url('./images/home-learning-boy.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}